.blog-container {
  padding-top: 100px; /* 원하는 만큼 조절 가능 */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.blog-post-link {
  text-decoration: none;
  color: inherit;
}

.blog-post-link:hover {
  text-decoration: none;
  color: inherit;
}

.blog-post {
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 6rem;
  padding: 0 1rem;
}

.blog-title {
  font-size: var(--tit-2xl);
  text-align: center;
  transition: color 0.5s ease;
}

.blog-title:hover {
  color: var(--secondary-color); /* 원하는 색상 변수 또는 직접 값 지정 */
}

.blog-meta {
  font-size: var(--txt-xs);
  text-align: center;
  font-family: Helvetica;
}

.blog-thumbnail {
  display: block;
  width: 100%;
  max-width: 1024px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}

.blog-description {
  font-family: var(--font-family);
}
