@media screen and (min-width:1024px) {html{font-size: 16px}}
@media all and (min-width:768px) and (max-width:1023px) {html{font-size:14px}}
@media screen and (max-width:767px) {html{font-size: 12px}}

/*============================ GOOGLE FONTS ============================*/


/*============================ VARIABLE CSS ============================*/
:root {
    
    
    /*======================== Colors ========================*/
/*
    --hue:;
    --first-color:;
    --first-color-dark:;
    --first-color-light:;
    --second-color:;
    --second-color-dark:;
    --second-color-light:;
    --title-color:;
    --text-color:;
    --text-color-light:;
    --body-color:;
    --container-color:;
*/
    
    
    /*======================== Font and typography ========================*/
    --font-family: 'DungGeunMo', "Helvetica", sans-serif;
    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.3rem;
    --h5-font-size: 1.125rem;
    --h6-font-size: 1rem;
    --p-font-size: 1.8rem;
}

body{
    font-family: 'DungGeunMo', 'VT323', "Helvetica", sans-serif;
}

.loading{
    width: 100%;
    height: auto;
}

.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 24px;
    border-radius: 45px;
    border: 2px solid #E2E9F5;
}

.loading .line-box .line{
    height: 16px;
    border-radius: 45px;
    background: #E2E9F5;
    animation: loading 15s forwards infinite cubic-bezier(0.25,0.1,0.25,1.0);
}

@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}