@media screen and (min-width:1024px) {html{font-size: 16px}}
@media all and (min-width:768px) and (max-width:1023px) {html{font-size:14px}}
@media screen and (max-width:767px) {html{font-size: 12px}}

:root {
    --font-family: Avenir, Inter, Helvetica, Arial, sans-serif;

    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.3rem;
    --h5-font-size: 1.125rem;
    --h6-font-size: 1rem;
    --p-font-size: 1.8rem;

    --tit-5xl: 4.5em;
    --tit-4xl: 3.75em;
    --tit-3xl: 3em;
    --tit-2xl: 2.25em;
    --tit-xl: 1.5em;
    --tit-lg: 1.312em;
    --tit-md: 1.125em;
    --tit-sm: 1rem;
    --tit-xs: 0.875em;
    --tit-2xs: 0.75em;

    --txt-3xl: 1.5em; 
    --txt-2xl: 1.375em;
    --txt-xl: 1.25em;
    --txt-lg: 1.125em;
    --txt-md: 1rem;
    --txt-sm: 0.875em;
    --txt-xs: 0.75em;
    --txt-2xs:0.625em;
}

.navbar-component{
    font-family: var(--font-family);
    font-size: var(--txt-lg);
}